.form-container {
    display:flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin:auto;
    margin-top: 2rem;
    background-color: #E0E0E0;
    border-radius: 0.5rem;
}

.form{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-left: 100px;
    gap:10px;
}

.form-container h2 {
    align-self: center;
    font-family: 'Righteous' , 'Roboto', 'arial' ;
    font-weight: 400;
    font-size: 2rem;
    border-bottom: none;
}

.group_form {
    display:flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2rem;
}

.group_form input {
    width: 90%;
}

.form_label{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.message_error{
    display:none;
    margin: 0;
    text-align:left;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #ff0000
}

.message_error-active{
    display:block;
}

.form_input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.form_btn{
    margin-bottom: 1rem;
    margin: 0.2rem 0.5rem;
    padding: 0.5rem 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
    background-color: #aace9b;
    border: 0.2rem solid #AACE9B;
    border-radius: 10px;
}

.group_form-btn {
    grid-column: span 2;
    width: 80%;
}

.group_form-incorrecto .form_input {
	border: 3px solid #bb2929;
}

.group_form-incorrecto .form_label{
    color: #bb2929;
}

.form_mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.form_mensaje-exito-activo {
	display: block;
}

.error-div{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 300px;
    font-style: normal;
    font-weight: 400;
    border-radius: 0.4rem;
    background-color:#4e756a;
    margin-bottom: 1rem;
}

.error-div button {
    width: 100px;
    margin: 0;
    background-color: #b80c00;
    border-radius: 0.4rem;
    color: #FFFFFF;
}

.error-div-active{
    display: block;
    
}

@media screen and (max-width: 800px) {
    .form{
        grid-template-columns:1fr;
    }

    .group_form-btn {
        grid-column: span 1;
        width:70%
    }
}