<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Trackgenix
        </title>
        <link rel="stylesheet" href="../styles/reset.css" />
        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="stylesheet" href="../styles/header.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/sidebar.css" />
        <link rel="stylesheet" href="../styles/footer.css" />
        <link rel="stylesheet" href="../styles/login.css" />
        <link rel="stylesheet" href="../styles/sign-up.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <aside>
            <form class="search-menu">
                <input type="search" placeholder="Search">
                <input type="image" src="../assets/search-regular-24.png">
            </form>
            <div>
                <p class="menu">
                    Menu
                </p>
            </div>
            <div class="url">
                <ul>
                    <li><a class="link" href="../views/index.html">HOMEPAGE</a></li>
                    <li><a class="link" href="#">GENERIC</a></li>
                    <li><a class="link" href="#">SUBMENU</a></li>
                </ul>
            </div>
            <div>
                <p class="getin">
                    Get in touch
                </p>
            </div>
            <div class="getin-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                    Mattis nulla libero nibh eu nisl sed.
                </p>
            </div>
            <div class="contact-sidebar">
                <ul>
                    <li><img src="../assets/mail.png" alt="mail">
                        <p class="contact">information@untitled.tld</p>
                    </li>
                    <li><img src="../assets/phone.png" alt="mail">
                        <p class="contact">(000) 0000 00000</p>
                    </li>
                    <li><img src="../assets/home.png" alt="mail">
                        <p class="contact">1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main-container">
            <header>
                <div class="burger">
                    <img src="../assets/burger.png" alt="menu burger">
                </div>
                <div class="h1-container">
                    <h1>
                        < TRACKGENIX >
                    </h1>
                </div>
                <nav>
                    <ul>
                        <li class="nav"><a class="link" href="index.html">HOME</a></li>
                        <li class="nav"><a class="link" href="sign-up.html">SIGNUP</a></li>
                        <li class="nav"><a class="link" href="login.html">LOGIN</a></li>
                        <li class="nav"><a class="link" href="#">CONTACT</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <section class="first section">
                    <div class="container-text-remote-img">
                        <div class="remote-container">
                            <h2 class="remote"> The future of Remote work </h2>
                            <p class="remote-p">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Consequat purus, nulla morbi bibendum in fringilla sed.
                                Urna, elementum aliquam placerat platea aenean vestibulum varius.
                                Magna elementum neque arcu, vulputate diam, tincidunt.
                                Tempus facilisis feugiat habitant nulla elementum phasellus pulvinar leo sit.
                            </p>
                            <input type="button" value="LEARN MORE" class="button-learn">
                        </div>
                        <div class="planisphere-cont">
                            <img src="../assets/undrawv.png.png" alt="hombre analisando" width="400" height="300"
                                class="planisphere">
                        </div>
                    </div>
                </section>
                <section class="function section">
                    <h2>Functions</h2>
                    <div class="function-container">
                        <div class="timekeeping">
                            <img src="../assets/time.png" alt="time">
                            <div>
                                <h3>Timekeeping</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                            </div>
                        </div>
                        <div class="timekeeping">
                            <img src="../assets/report (1).png" alt="report">
                            <div>
                            <h3>Reports</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                Mattis nulla libero nibh eu nisl sed.
                            </p>
                            </div>
                        </div>
                        <div class="timekeeping">
                            <img src="../assets/person.png" alt="person">
                            <div>
                            <h3>Resource Management</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                Mattis nulla libero nibh eu nisl sed.
                            </p>
                            </div>
                        </div>
                        <div class="timekeeping">
                            <img src="../assets/Group 6.png">
                            <div>
                            <h3>Multiples Roles</h3>
                            <p class="clear">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                Mattis nulla libero nibh eu nisl sed.
                            </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="assets section">
                    <h2>Assets</h2>
                    <div class="assets-container">
                        <div class="picture">
                            <img src="../assets/woman.jpg" alt="woman work" width="300" height="200" class="first-column">
                            <div>
                                <h3>Traceability</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                            </div>
                            <input type="button" value="MORE">
                        </div>
                        <div class="vertical-line"></div>
                        <div class="picture">
                            <img src="../assets/job.jpg" alt="office" width="300" height="200" class="first-column">
                            <div>
                                <h3>Desicion making</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                            </div>
                            <input type="button" value="MORE">
                        </div>
                        <div class="picture">
                            <img src="../assets/teamwork.jpg" alt="team" width="300" height="200">
                            <div>
                                <h3>Equipment management</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                            </div>
                            <input type="button" value="MORE">
                        </div>
                        <div class="vertical-line"></div>
                        <div class="picture">
                            <img src="../assets/digital-marketing.jpg" alt="graphic" width="300" height="200">
                            <div>
                                <h3>Efficiency</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                            </div>
                            <input type="button" value="MORE">
                        </div>
                    </div>
                </section>
                <section class="form section">
                    <h2>Form</h2>
                    <form>
                        <input type="text" placeholder="Name" size="40">
                        <input type="text" placeholder="Mail" size="40">
                        <select>
                            <option selected>
                                Category
                            </option>
                            <option value="HTML">
                                HTML
                            </option>
                            <option value="CSS">
                                CSS
                            </option>
                        </select>
                            <textarea type="text" placeholder="Enter your message" size="86"></textarea>
                        <div class="button-message">
                            <button type="submit"> SEND MESSAGE </button>
                            <button type="reset"> RESET </button>
                        </div>
                    </form>
                </section>
                <section class="about section">
                    <h2>About us</h2>
                    <div class="p-about">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Turpis mauris, sit placerat nullam amet, et sit. Porta vivamus diam vivamus non.
                            Gravida semper nulla eu urna cras elit.
                            Mattis suspendisse consequat tempor condimentum commodo malesuada etiam venenatis.
                            Volutpat augue quam commodo nascetur in dolor at egestas sollicitudin.
                            Nulla non auctor tempus pellentesque. Scelerisque metus tristique auctor scelerisque.
                            Enim at est id orci at malesuada sed morbi. Quis orci, pretium amet nibh.
                        </p>
                        <img src="../assets/startup.jpg" alt="teamwork">
                    </div>
                </section>
                <section class="list section">
                    <div class="column">
                        <h3>Products</h3>
                            <ol>
                                <li><a class="link" href="#">Functions</a></li>
                                <li><a class="link" href="#">Downloads</a></li>
                                <li><a class="link" href="#">Integrations</a></li>
                                <li><a class="link" href="#">Extras</a></li>
                            </ol>
                    </div>
                    <div class="column">
                        <h3>Company</h3>
                            <ol>
                                <li><a class="link" href="#">About us</a></li>
                                <li><a class="link" href="#">Costumers</a></li>
                                <li><a class="link" href="#">Resources</a></li>
                                <li><a class="link" href="#">Blog</a></li>
                            </ol>
                    </div>
                    <div class="column">
                        <h3>Support</h3>
                            <ol>
                                <li><a class="link" href="#">Help</a></li>
                                <li><a class="link" href="#">Tutorials</a></li>
                                <li><a class="link" href="#">API</a></li>
                                <li><a class="link" href="#">Contact</a></li>
                            </ol>
                    </div>
                </section>
            </main>
            <footer>
                <div class="social-media">
                    <a class="link" href="#"><img src="../assets/twitter.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/linkedin.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/instinstagram.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/facebook.png" alt="#"></a>
                </div>
                <div class="container-copyright">
                    <p>Rosario, Argentina</p>
                    <p>Copyright © 2022 Trackgenix. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </body>
</html>