<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Trackgenix
        </title>
        <link rel="stylesheet" href="../styles/reset.css" />
        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="stylesheet" href="../styles/header.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/sidebar.css" />
        <link rel="stylesheet" href="../styles/footer.css" />
        <link rel="stylesheet" href="../styles/login.css" />
        <link rel="stylesheet" href="../styles/sign-up.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <aside>
            <form class="search-menu">
                <input type="search" placeholder="Search">
                <input type="image" src="../assets/search-regular-24.png">
            </form>
            <div>
                <p class="menu">
                    Menu
                </p>
            </div>
            <div class="url">
                <ul>
                    <li><a class="link" href="index.html">HOMEPAGE</a></li>
                    <li><a class="link" href="url">GENERIC</a></li>
                    <li><a class="link" href="url">SUBMENU</a></li>
                </ul>
            </div>
            <div>
                <p class="getin">
                    Get in touch
                </p>
            </div>
            <div class="getin-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                    Mattis nulla libero nibh eu nisl sed.
                </p>
            </div>
            <div class="contact-sidebar">
                <ul>
                    <li><img src="../assets/mail.png" alt="mail">
                        <p class="contact">information@untitled.tld</p>
                    </li>
                    <li><img src="../assets/phone.png" alt="mail">
                        <p class="contact">(000) 0000 00000</p>
                    </li>
                    <li><img src="../assets/home.png" alt="mail">
                        <p class="contact">1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main-container">
            <header>
                <div class="burger">
                    <img src="../assets/burger.png" alt="menu burger">
                </div>
                <div class="h1-container">
                    <h1>
                        < TRACKGENIX >
                    </h1>
                </div>
                <nav>
                    <ul>
                        <li class="nav"><a class="link" href="index.html">HOME</a></li>
                        <li class="nav"><a class="link" href="sign-up.html">SIGNUP</a></li>
                        <li class="nav"><a class="link" href="login.html">LOGIN</a></li>
                        <li class="nav"><a class="link" href="url">CONTACT</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div class="form-container">
                    <h2>Register</h2>
                    <form>
                        <div class="sign-input">
                            <label for="sign-name">Name</label>
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="sign-input">
                            <label for="sign-surname">Surname</label>
                            <input type="text" placeholder="Surname">
                        </div>
                        <div class="sign-input">
                            <label for="sign-dni">DNI</label>
                            <input type="number" placeholder="Identify document">
                        </div>
                        <div class="sign-input">
                            <label for="sign-date">Date of birth</label>
                            <input type="date" placeholder="Date of bith">
                        </div>
                        <div class="sign-input">
                            <label for="sign-tel">Telephone</label>
                            <input type="number" placeholder="Telephone">
                        </div>
                        <div class="sign-input">
                            <label for="sign-address">Address</label>
                            <input type="text" placeholder="Address">
                        </div>
                        <div class="sign-input"> 
                            <label for="sign-loc">Location</label>
                            <input type="text" placeholder="Location">
                        </div>
                        <div class="sign-input">
                            <label for="sign-cp">Postal Code</label>
                            <input type="number" placeholder="Postal Code">
                        </div>
                        <div class="sign-input">
                            <label for="sign-email">Email</label>
                            <input type="text" placeholder="Email">
                        </div>
                        <div class="sign-input">
                            <label for="sign-pass">Password</label>
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="sign-input">
                            <label for="repeat-pas">Repeat Password</label>
                            <input type="password" placeholder="Repeat Password"> 
                        </div>
                    </form>
                </div>
            </main>
            <footer>
                <div class="social-media">
                    <a class="link" href="#"><img src="../assets/twitter.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/linkedin.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/instinstagram.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/facebook.png" alt="#"></a>
                </div>
                <div class="container-copyright">
                    <p>Rosario, Argentina</p>
                    <p>Copyright © 2022 Trackgenix. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </body>
</html>