<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Trackgenix
        </title>
        <link rel="stylesheet" href="../styles/reset.css" />
        <link rel="stylesheet" href="../styles/style.css" />
        <link rel="stylesheet" href="../styles/header.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/sidebar.css" />
        <link rel="stylesheet" href="../styles/footer.css" />
        <link rel="stylesheet" href="../styles/login.css" />
        <link rel="stylesheet" href="../styles/sign-up.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <script src="../javascript/sign-up.js"></script>
    </head>
    <body>
        <aside>
            <form class="search-menu">
                <input type="search" placeholder="Search">
                <input type="image" src="../assets/search-regular-24.png">
            </form>
            <div>
                <p class="menu">
                    Menu
                </p>
            </div>
            <div class="url">
                <ul>
                    <li><a class="link" href="index.html">HOMEPAGE</a></li>
                    <li><a class="link" href="url">GENERIC</a></li>
                    <li><a class="link" href="url">SUBMENU</a></li>
                </ul>
            </div>
            <div>
                <p class="getin">
                    Get in touch
                </p>
            </div>
            <div class="getin-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                    Mattis nulla libero nibh eu nisl sed.
                </p>
            </div>
            <div class="contact-sidebar">
                <ul>
                    <li><img src="../assets/mail.png" alt="mail">
                        <p class="contact">information@untitled.tld</p>
                    </li>
                    <li><img src="../assets/phone.png" alt="mail">
                        <p class="contact">(000) 0000 00000</p>
                    </li>
                    <li><img src="../assets/home.png" alt="mail">
                        <p class="contact">1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="main-container">
            <header>
                <div class="burger">
                    <img src="../assets/burger.png" alt="menu burger">
                </div>
                <div class="h1-container">
                    <h1>
                        < TRACKGENIX >
                    </h1>
                </div>
                <nav>
                    <ul>
                        <li class="nav"><a class="link" href="index.html">HOME</a></li>
                        <li class="nav"><a class="link" href="sign-up.html">SIGNUP</a></li>
                        <li class="nav"><a class="link" href="login.html">LOGIN</a></li>
                        <li class="nav"><a class="link" href="url">CONTACT</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <div class="form-container">
                    <h2>REGISTER</h2>
                    <form action="" class="form" id="form">
                        <div class= "group_form" id="group_name">
                            <label for="sign-name" class="form_label">Name</label>
                            <input type="text" placeholder="Name" class="form_input" name="name" id="name">
                            <p class="message_error">¡Only letters and more than 3 letters!</p>
                        </div>
                        <div class="group_form" id="group_surname">
                            <label for="sign-surname" class="form_label">Surname</label>
                            <input type="text" placeholder="Surname" class="form_input" name="surname" id="surname">
                            <p class="message_error">¡Only letters and more than 3 letters!</p>
                        </div>
                        <div class="group_form" id="group_dni">
                            <label for="sign-dni" class="form_label">DNI</label>
                            <input type="number" placeholder="Identify document" class="form_input" name="dni" id="dni">
                            <p class="message_error">¡Only numbers and more than 7 numbers!</p>
                        </div>
                        <div class="group_form" id="group_date">
                            <label for="sign-date"class="form_label">Date of birth</label>
                            <input type="date" placeholder="Date of bith" class="form_input" name="date" id="date">
                            <p class="message_error">dd/mm/aaaa</p>
                        </div>
                        <div class="group_form" id="group_tel">
                            <label for="sign-tel"class="form_label">Telephone</label>
                            <input type="tel" placeholder="Telephone" class="form_input" name="tel" id="tel">
                            <p class="message_error">¡Only numbers and more than 10 numbers!</p>
                        </div>
                        <div class="group_form" id="group_address">
                            <label for="sign-address"class="form_label">Address</label>
                            <input type="text" placeholder="Address" class="form_input" name="address" id="address">
                            <p class="message_error">¡At least 5 characters with letters,numbers and one space!</p>
                        </div>
                        <div class="group_form" id="group_loc"> 
                            <label for="sign-loc"class="form_label">Location</label>
                            <input type="text" placeholder="Location" class="form_input" name="loc" id="loc">
                            <p class="message_error">¡Alphanumeric text with more than 3 letters!</p>
                        </div>
                        <div class="group_form" id="group_cp">
                            <label for="sign-cp"class="form_label">Postal Code</label>
                            <input type="number" placeholder="Postal Code" class="form_input" name="cp" id="cp">
                            <p class="message_error">¡Only numbers and more than 4 numbers!</p>
                        </div>
                        <div class="group_form" id="group_email">
                            <label for="sign-email"class="form_label">Email</label>
                            <input type="text" placeholder="Email" class="form_input" name="email" id="email">
                            <p class="message_error">¡Format of email invalid!</p>
                        </div>
                        <div class="group_form" id="group_password">
                            <label for="sign-pass"class="form_label">Password</label>
                            <input type="password" placeholder="Password"class="form_input" name="password" id="password">
                            <p class="message_error">¡At least 8 characters with letters and numbers!</p>
                        </div>
                        <div class="group_form" id="group_password2">
                            <label for="repeat-pas"class="form_label">Repeat Password</label>
                            <input type="password" placeholder="Repeat Password" class="form_input" name="password2" id="password2">
                            <p class="message_error">¡Repeat the last password!</p> 
                        </div>
                        <div class="group_form">
                            <button type="submit" class="form_btn"> CREATE ACCOUNT </button>
                            <p class="form_mensaje-exito" id="form_mensaje-exito">Your form has been sent successfully</p>
                        </div>
                    </form>
                </div>
            </main>
            <footer>
                <div class="social-media">
                    <a class="link" href="#"><img src="../assets/twitter.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/linkedin.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/instinstagram.png" alt="#"></a>
                    <a class="link" href="#"><img src="../assets/facebook.png" alt="#"></a>
                </div>
                <div class="container-copyright">
                    <p>Rosario, Argentina</p>
                    <p>Copyright © 2022 Trackgenix. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </body>
</html>