
header {
    background-color: #AACE9B;
    width: 100%;
    height: 60px;
}

header > h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    margin-left: 40px;
    padding-top: 10px;
}

nav {
    float: right;
}

header > nav > ul > li {
    float:left;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: -45px;
}

.nav a {
    text-decoration: none;
    color: black;
}

main {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    position: absolute;
    width: 75%;
    right: 0;
}

aside {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
}

aside .subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-color: #AACE9B;
    text-decoration-thickness: 5px;
    }

aside ul li {
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 10px;
}

aside > .contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

aside > .p-getintouch {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.search-menu {
    background-color: #C4C4C4;
    width: 100%;
    height: 60px;
    position: relative;
}

.search-menu > form {
    position: absolute;
    left: 20px;
    top: 10px;
}

aside {
    background-color: #ededed;
}

aside .ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.subtitle {
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 10px;
}

.contact-1 img {
    float: left;
}

.contact-1 {
    margin-top: 30px;
}

.contact-1 p{
    position: relative;
    left: 20px;
}