
header {
    background-color: #AACE9B;
    width: 100%;
    height: 60px;
}

header > h1 {
    margin-left: 40px;
    padding-top: 10px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
}

nav {
    float: right;
}

header > nav > ul > li {
    float:left;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: -45px;
}

.nav a {
    text-decoration: none;
    color: black;
}

main {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    position: absolute;
    width: 75%;
    right: 0;
}

aside {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 25%;
    height: 100%;
}

aside .subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-color: #AACE9B;
    text-decoration-thickness: 5px;
    }

aside ul li {
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 10px;
}

aside > .contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

aside > .p-getintouch {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.search-menu {
    position: relative;
    background-color: #C4C4C4;
    width: 100%;
    height: 60px;
}

.search-menu > form {
    position: absolute;
    left: 20px;
    top: 10px;
}

aside {
    background-color: #ededed;
}

aside .ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.subtitle {
    margin-bottom: 20px;
    padding-left: 10px;
    margin-top: 10px;
}

.contact-1 img {
    float: left;
    margin-left: 10px;
}

.contact-1 {
    margin-top: 30px;
}

.contact-1 p{
    position: relative;
    left: 10px;
}

.contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}

.p-getintouch{
    position: relative;
    width: 300px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
}
.remote {
    width: 400px;
    padding-left: 10px;
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
}

.remote-p {
    position: relative;
    width: 350px;
    height: 363px;
    left: 20px;
    top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
}

.planisphere {
    position: absolute;
    right: 90px;
    top: 100px;
}

.button-learn {
    background: #FFFFFF;
    border: 4px solid #AACE9B;
    box-sizing: border-box;
    border-radius: 26.5px;
    padding: 10px 20px;
    position: relative;
    left: 100px;
    top: -80px;
}

.princ {
    border-bottom: 3px solid #C4C4C4;
    width: 90%;
    margin: auto;
}

.sub-under {
    border-bottom: 5px solid #AACE9B;
    margin: 0px 750px 20px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
}

.time h3 {
    margin-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
 }

 .time p {
     position: relative;
     width: 400px;
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 15px;
 }

 .time img {
     float: left;
     margin-right: 40px;
     padding-top: 30px;
 }

 .time {
     padding: 10px;
 }

div .time {
    float: left;
}

.assets img {
    border-radius: 15px;
}

.img-3 img {
    margin-top: 120px;
}

.assets h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 74px;
}

.assets p {
    width: 396px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
}

.assets input {
    background: #AACE9B;
    border: 1px solid;
    border-color: black;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 15px;
}

.assets div {
    display: inline-block;
    position: relative;
    width: 45%;
    margin: 35px 10px 70px 10px;
}

form input {
    display: inline-block;
    align-items: flex-end;
    padding: 5px 70px 5px 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

form select, form textarea {
    display: block;
    width: 82%;
    padding: 3px;
    margin: 10px 0px;
}

form textarea {
    height: 200px;
    resize: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

form button {
    margin-bottom: 20px;
    margin: 3px 10px;
    padding: 7px 15px;
    background-color: #AACE9B;
    border: 3px solid #AACE9B;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
}

form button:last-child {
    background-color: #FFFFFF;
    border: 3px solid #AACE9B;
    color: #000;
}

.about p {
    position: absolute;
    width: 40%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
}

.about img {
    display: inline-block;
    border-radius: 20px ;
    margin-left: 55%;
    width: 350px;
    height: 250px;
}

.about {
    height: 400px;
}

.list div {
    width: 30%;
    display:inline-block;
    text-align: center;
}

.list div h3 {
    margin: auto;
    text-decoration: underline #AACE9B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 74px;
}

.list div ol li {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
}

.list div ol {
    margin-bottom: 20px;
}

footer {
    background-image: url(../semana-03/img/footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
}

footer h4 {
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 17px;
    color: #fff;
    text-align: center;
}

footer img {
    display: inline-block;
    margin-top: 200px;
    margin-left: 150px;
}
