
header {
    background-color: #AACE9B;
    width: 100%;
    height: 70px;
}

header > h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 50px;
    margin-left: 40px;
    padding-top: 10px;
}

nav {
    float: right;
}

header > nav > ul > li {
    float:left;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: -45px;
}

.nav a {
    text-decoration: none;
    color: black;
}

main {
    font-family: 'Roboto', sans-serif;
}

aside .subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-color: #AACE9B;
    text-decoration-thickness: 5px;
    }

aside > ul > li > a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

aside > ul {
    line-height: 90px;
}

aside > .contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

aside > .p-getintouch {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

aside > div {
    background-color: #C4C4C4;
}