footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../img/footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

footer p {
    margin-bottom: 0;
    margin-top: 2rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
    text-align: center;
}

.container-copyright {
    margin-top: 3rem;
}

.social-media {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: 14rem;
}

.social-media a {
    width: 4%;
}