footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-image: url(../img/footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

footer p {
    margin-bottom: 0;
    margin-top: 2rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
}

.container-copyright {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social-media {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.social-media a {
    width: 10%;
}