body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
}

.main-container {
    flex: 6;
    background-color: #fff;
}

h2 {
    margin: 2rem auto;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    border-bottom: 0.5rem solid #AACE9B;
}

div h3 {
    margin: 1rem;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
}

a.link {
    text-decoration: none;
    color: #000;
}

a.link:hover {
    color: #ff0000
}

img{
    width: 100%;
    height: auto;
    max-width: max-content;
}